.id {
    text-align: center;
}

.mini-header {
    text-align: center;
}

.text {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    justify-items: center;
    gap: 40px;
    padding: 20px;
}

.join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wrong-code {
    color: crimson;
    padding: 0px
}

.extras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.language-switch {
    width: 100px;
    height: 25px;
    font-size: 1.1rem
}

.modal {
    display: block;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    padding: 20px;
    width: 650px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

    z-index: 1000;
    background: rgba(199, 199, 199, 0.75);
}

button {
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
}

input {
    padding: 10px;
    font-size: 1rem;
}