.game-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100vh;
}

.sidebar {
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    align-self: start;
    background-color: rgba(246, 246, 246, 0.75);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.pattern {
    font-size: 6rem;
    font-family: fantasy, '游ゴシック体', 'HiraMinProN-W3';
    margin-top: -1%;
    margin-bottom: -1%;
}

.sidebar ul {
    font-size: 1.25rem;
}

button {
    padding: 10px 16px;
    font-size: 1rem;
}

input {
    padding: 10px;
    font-size: 1rem;
}